.container {
  width: 60%;
  padding: 50px;
  margin: 0 auto;
}

.mensagemDiv {
  border: 3px solid #3aafa1;
  border-radius: 5px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3.mensagemAtivacao {
  font-weight: bold;
  color: #3aafa1;
  text-align: center;
}

.spinner {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 3px solid #3aafa1;
  border-radius: 5px;
}
