.container {
  width: 100wh;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.login,
.cadastrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  background: rgb(76, 191, 154);
  background: linear-gradient(
    180deg,
    rgba(76, 191, 154, 1) 0%,
    rgba(58, 175, 161, 1) 100%
  );
}

.cadastrar {
  background: white;
}

.cadastroForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastroForm input {
  display: block;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  background: #f4f8f7;
  padding: 10px;
}

.cadastroForm input:focus {
  outline: none;
}

.cadastroForm div.senha input {
  margin-bottom: 0;
}

.cadastroForm input.senha {
  background: transparent;
}

.cadastroForm div.senha {
  display: flex;
  align-items: center;
  width: 400px;
  background: #f4f8f7;
  border-radius: 5px;
  margin-bottom: 30px;
}

.cadastroForm div.senha span {
  width: 28px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.cadastroForm div.senha input[type='password'] + span {
  background: url('../Images/exibir-senha.svg') no-repeat;
}

.cadastroForm div.senha input[type='text'] + span {
  background: url('../Images/ocultar-senha.svg') no-repeat;
}
