.estabelecimento {
  width: 100%;
  padding: 0 0 0 50px;
  box-sizing: border-box;
  border: 3px solid #3aafa1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.estabelecimento .editar {
  display: block;
  background: url('../Images/editar.svg') no-repeat center/80%;
  width: 30px;
  height: 30px;
  border: 3px solid #3aafa1;
  border-right: 0;
  border-top: 0;
  border-bottom-left-radius: 5px;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 17px;
}

.estabelecimento .editar:hover {
  transform: scale(1.1);
}

.estabelecimento .content {
  display: grid;
  grid-template-columns: 1.25fr 2fr;
  justify-items: center;
  align-items: center;
}

.estabelecimento .mapa {
  width: 100%;
  border-radius: 5px;
}

.estabelecimento div {
  text-align: center;
  color: #3aafa1;
}

.estabelecimento h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.estabelecimento p {
  margin-bottom: 10px;
}

.estabelecimento p:last-of-type {
  margin-bottom: 0;
}

.estabelecimento .excluir {
  display: block;
  background: url('../Images/excluir.svg') no-repeat center/80%;
  width: 30px;
  height: 30px;
  border: 3px solid #3aafa1;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 5px;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 17px;
}

.estabelecimento .excluir:hover {
  transform: scale(1.1);
}
